[2019-10-10 19:21] rly opened #1 "'table' attribute should be on 'recordings' dataset not 'recordings_index' dataset?"
https://github.com/oruebel/ndx-icephys-meta/blob/57833ea791fd5489c85940d97e48c4b6e617f657/src/spec/create_extension_spec.py#L101-L109

In the Sweeps type, the 'recordings' dataset is of type DynamicTableRegion which contains the 'table' attribute that should be overridden with a target table.

Same for the SweepSequences, Runs, and Conditions types.

[2019-10-10 19:34] rly opened #2 "DynamicTableGrouping type not necessary"
We recently decided to make the Sweeps, SweepSequences, Runs, and Conditions types be of type DynamicTable instead of type DynamicTableGrouping in order to allow better naming of the column of DynamicTableRegion objects in each one.

Now the DynamicTableGrouping table has little use. I think anyone who wants to make a custom type for a custom hierarchy would also want to be able to customize the c

[2019-10-10 21:01] #2 closed

[2019-10-10 21:27] #1 closed

[2019-10-19 01:33] oruebel opened #5 "Add ic prefix to ICEphysFile functions and properties"
In the ICEphysFile type the properties and functions specific to the icephys metadata structure should include the ic prefix to prevent name collisions later on and to make the context clear. E.g., ``ICEphysFile.conditions`` should be renamed to ``ICEphysFile.ic_conditions``, ``ICEphysFile.add_condition`` to ``ICEphysFile.add_ic_condition`` etc. This will require changes to the fields, functions a

[2019-10-19 02:06] #5 closed

[2019-10-24 14:31] lvsltz opened #8 "sql-like "unique index" for the id column"
`intracellular_recordings, ic_sweeps, ic_sweep_sequences, ic_runs` tables allow insertions of rows with the same `id`.
I think `id` should be unique.

MWE:
[code]

[2019-10-24 14:43] lvsltz opened #9 "id in ic_sweeps not referencing the id in intracellular_recordings"
Adding an intracellular recording with a given id and then a sweep with the same id works. But generating the `ic_sweeps` table raises a `IndexError: list index out of range` error.

Note though that, if a sweep with index 0 is added, generating the table works just fine.

MWE:
[code]

[2019-10-24 17:13] oruebel commented on #9
In ``nwbfile.add_ic_sweep(recordings=[10],...`` the ``recordings`` parameter expects a list of the indices of the rows, not a list of id's. I'll add an example how to do this with id's. Sorry for the confusion.

[2019-10-24 17:14] oruebel commented on #8
Agreed.

[2019-10-24 23:31] #8 closed

[2019-10-24 23:32] oruebel commented on #8
@lvsltz #10 should fix this. This requires the latest version of HDMF as this depends on https://github.com/hdmf-dev/hdmf/pull/186

[2019-10-25 01:18] oruebel commented on #9
I still need to update the example, but https://github.com/hdmf-dev/hdmf/pull/187 should address this

[2019-10-25 01:51] oruebel commented on #9
@lvsltz  I've added an example for how to index by id in #11 I'm waiting for https://github.com/hdmf-dev/hdmf/pull/187 to be merged, but all you need to do to search for rows with a given id is:

```nwbfile.runs.id == [10, 20]```

This will return a list of ints with the indices of all rows in the runs table that have the ids 10 or 20.

[2019-10-30 13:52] lvsltz opened #12 "return id when custom id not given as argument"
It would be nice if `add_intracellular_recording, add_ic_sweep, add_ic_sweep_sequence, add_ic_run`, when called without an `id` (or always), returned the automatically generated `id` that can be used to populate the `ic_sweeps, ic_sweep_sequences, ic_runs, ic_conditions`, respectively.

[2019-10-30 14:37] lvsltz commented on #9
Not sure I fully understand the need for both row index and id. If id is enforced to be unique (#10), why can't it simply be used further upstream ?

[2019-10-30 17:16] lvsltz commented on #12
2) row-index should be enough

[2019-11-08 11:51] #9 closed

[2019-11-12 18:42] rly opened #14 "Deprecate NWBFile.general.intracellular_ephys.filtering"
Deprecate the general `NWBFile.general.intracellular_ephys.filtering` string dataset in favor of the `filtering` string dataset on `IntracellularElectrode`, which already exists.

See https://github.com/NeurodataWithoutBorders/nwb-schema/issues/313

[2019-11-18 15:55] lvsltz opened #15 "add_intracellular_recording raises ValueError: row data keys don't match available columns"
After the last updates, I am not able to `add_intracellular_recording`s anymore:
For example in https://github.com/oruebel/ndx-icephys-meta/blob/master/src/pynwb/examples/icephys_meta_simple_example.ipynb
[code]
raises a ValueError. Full error is pasted at the end.
[code]

Is any of these packages at the wrong version?
[code]

[code]

[2019-11-18 18:47] oruebel commented on #15
This should be fixed on https://github.com/oruebel/ndx-icephys-meta/pull/13  This PR requires
https://github.com/hdmf-dev/hdmf/pull/191 We need to do a release of HDMF and PyNWB in order merge that PR, but I expect that we should be able to do those today.

[2019-11-18 20:00] lvsltz commented on #15
Thanks for the quick reply! I had managed to get past this error with a `pip install git+` on the last commit of that PR (https://github.com/hdmf-dev/hdmf/pull/191) but I see you merged it meanwhile.
Now I get other issues from hdmf.
Please let me know if there's a commit that would allow me to fully use the extension.

I'd like to be able to test it these days, before our call on Thursday.

[2019-11-18 20:20] oruebel commented on #15
Will do. We are going through PRs on HDMF right now. I expect that we'll have this all running again later today.

[2019-11-19 04:00] #12 closed

[2019-11-19 04:00] #14 closed

[2019-11-19 04:03] oruebel opened #16 "Add unit tests for HierarchicalDynamicTableMixin"
#13 added the HierarchicalDynamicTableMixin class. This is currently only tested in the example Jupyter notebooks but not yet via dedicated unit tests. We should add tests for this class.

[2019-11-19 04:08] oruebel commented on #15
@lvsltz please try again with the current dev branch of PyNWB and the latest HDMF release. We have now:

1. released HDMF 1.4.0
1. updated the dev branch of PyNWB to work with HDMF 1.4.0, and
1. merged #13

I believe these changes should fix the issues you have been seeing and all the example notebooks in this repo should be working now. Please reopen this issue or create a new one in case the iss

[2019-11-19 04:08] #15 closed

[2019-11-28 21:14] bendichter opened #17 "performance issue when indexing table"
It seems the auto-dereferencing dynamic tables code is struggling with these nested tables. Test data is [here](https://bbpteam.epfl.ch/project/user/soltuzu/nwb2_ndx/). On my computer, after setting up the file read
[code]
this line:
[code]
took 57 seconds to create a 1x1 pandas DataFrame. Is this how the API is intended to be used? I think this is due to the fact that indexing the downstream tabl

[2019-11-29 14:33] lvsltz opened #18 "add_intracellular_recording should also accept a stimulus template"
`add_intracellular_recording` should accept for the `stimulus` argument both a stimulus presentation and a stimulus template.

I think somebody else mentioned this, so I haven't tested it.

[2019-11-29 14:38] lvsltz opened #19 "convenience function to get the highest level of the hierarchy"
Some experiments might not have a `ic_conditions` or a `ic_runs` table. So if one needs to retrieve the whole hierarchy at once (for example with `ic_conditions.to_denormalized_dataframe()`) they should be able to do it without querying to see if these tables exist in the first place.

[2019-11-29 14:43] lvsltz opened #20 "add custom column to table before adding rows"
The same issue as here: https://github.com/NeurodataWithoutBorders/pynwb/issues/1071

This is my workaround. It's copied from the code I shared with you:
[code]

[2019-11-29 14:47] lvsltz opened #21 "validation fails"
Following the documentation at https://pynwb.readthedocs.io/en/stable/validation.html :
Similar to https://github.com/NeurodataWithoutBorders/pynwb/issues/1058

The validation below fails:
`python -m pynwb.validate file_with_extension.nwb`

[2019-11-29 14:54] lvsltz opened #22 "CurrentClampStimulusSeries and VoltageClampSeries combined in add_intracellular_recording"
In the notebook provided as example at https://github.com/oruebel/ndx-icephys-meta/blob/master/src/pynwb/examples/icephys_meta_to_pandas.ipynb, `CurrentClampStimulusSeries` and `VoltageClampSeries` are added as stimulus and response in the `intracellular_recordings` table (Section _3. Construct our Intracellular Electrophysiolgy Metadata tables_, paragraph _Add intracelluar recordings_).

Not only

[2019-11-29 15:07] lvsltz opened #23 "to_hierarchical_dataframe() DataFrames are too wide and long"
Not sure if in your control but I mention this anyway.
`to_hierarchical_dataframe()` and `to_denormalized_dataframe()` generate very wide and long DataFrames. To save some space and facilitate visualization, the `stimulus`, `response` and `electrode` columns from `intracellular_recordings` should contain fewer details.

![image](https://user-images.githubusercontent.com/6717189/69877231-e947b400-1

[2019-11-29 19:43] oruebel commented on #17
@bendichter thanks for creating the issue. I'll take a look. I'm not sure if the data read is culprit here or maybe some slow loops in Python. We'll see. Either way, this should not take this long.

[2019-11-29 19:47] oruebel commented on #23
@lvsltz that makes sense. I think the proper solution would be to wrap the ``stimulus`` and ``response`` columns in a separate class (and to give them a new neurodata_type) so that we can control the representation. That is certainly possible but requires a bit of coding and changes to schema, i.e., it may take a bit before I can get to this issue.

[2019-11-29 19:50] oruebel commented on #20
@lvsltz I agree that this will be a very useful feature to add. However, I think this issue is best addressed in HDMF and PyNWB rather than as part of this extension. I'll therefore close this issue here in favor of the existing NeurodataWithoutBorders/pynwb#1071 issue. It may make sense to create an issue on HDMF for this, since this is really an issue with DynamicTable.

[2019-11-29 19:53] oruebel commented on #18
If I remember our last discussion correctly, then @t-b  requested that it should accept TimeSeries more broadly, rather than being restricted to PatchClampSeries. I believe that would also fix this issue.

[2019-11-29 19:54] oruebel commented on #19
Sounds good. I believe that function would need to live on NWBFile.

[2019-12-02 20:50] t-b opened #24 "Generalize Runs/Conditions tables"
It would be nicer to be able to define the meaning of tables which index Sweeps/SweepSequence tables on the go and don't have them hard coded.

Use case:
- In MIES we have two different sweep sequences (repeated acquisition (RA) cycles and stimset cycle IDs). None of them fits into Runs.
- In addition we also store quality control results (true/false/not done) per sweep and per RA cycle. It would

[2019-12-02 20:56] t-b opened #25 "intracellular_recordings: Should store plain TimeSeries"
(The current SweepTable implementation suffers from the same issue, see https://github.com/NeurodataWithoutBorders/pynwb/issues/1116).

In ICEphys it is customary to have AD/DA channels which are not associated to an electrode. In MIES and NWBv1/2 we store this channel data as plain timeseries.

And the intracellular_recordings table should therefore also allow to hold plain TimeSeries without an

[2019-12-05 00:24] oruebel commented on #20
Actually, this is not a problem in HDMF. HDMF allows you to add custom columns before a table has been populated. This is actually just an issue with how the SweepsTable is being generated/used. I'll add an example to show how we can do this with the extension soon.

[2019-12-05 00:29] #20 closed

[2019-12-05 00:34] oruebel commented on #20
@lvsltz please have a look at Section 3.2.1 in the following notebook https://github.com/oruebel/ndx-icephys-meta/blob/master/src/pynwb/examples/icephys_meta_simple_example.ipynb This shows how you can add custom columns before populating a table with rows. The DynamicTable already supports this, the main issue is that we need to make sure the table actually exists (since it is optional) so we nee

[2019-12-05 01:14] oruebel commented on #17
Still working on this one. The creation of the table for the intracellular_recordings is already slow, i.e., ``nwbfile.intracellular_recordings.to_dataframe()``. I'm wondering whether maybe something is slow with the resolution of links.

[2019-12-07 01:03] oruebel commented on #17
I profiled the call ``nwbfile.intracellular_recordings[:]`` and it looks like the main problem seems to be the time for resolving the references (see profile trace below). This leads us two issues:

1) Since we are not loading any data from the references in this case, we should be able to delay the resolution to when we actually need the container. This a feature that would need to be added in HD

[2019-12-07 01:22] bendichter commented on #17
We are working on a library that may help with (1), [lazy_ops](https://github.com/ben-dichter-consulting/lazy_ops), which offers lazy views into h5py datasets that can be transposed and sliced without reading data. We could use these view to create `SlicedDynamicTable` objects that direct to portions of a dataset without resolving underlying links.

[2019-12-07 23:29] oruebel commented on #17
@bendichter thanks for the suggestion, I'll take a look. lazy h5py views may be useful under the hood, but I'll need to take a closer look into how to best optimize this particular problem in HDMF. I think we here actually need to get a view into an already wrapped HDF5 dataset of object references.

However, I still think the more fundamental issue is that creating 1000s of small timeseries is in

[2019-12-09 13:57] lvsltz commented on #17
Indeed, that's one of our reasons to transition from igor .ibw files to NWB. Although loading in memory the ibw files for this particular experiment takes ~7s.

Isn't it easy for you guys to just read and rewrite one of the example files in the way you think it's efficient ? I'll give it a try nevertheless.

Also, does that mean we'll lose the original granularity of the data? We'd rather not conc

[2019-12-09 19:04] oruebel commented on #17
The main issue is that I'm not sure which traces should logically be combined. I assume it would probably be one TimeSeries per Sweep or would it be one per SweepSequence? I think this depends in part which parameters change between the recordings.

Using the extension, I think the main way that users would probably interact with the data is through the tables. The granularity of the data is encod

[2019-12-10 09:08] lvsltz commented on #17
I understand.
By default, the signal is retrieved and stored in small chunks: there is no such thing as long timeseries in the first place; and indeed many parameters may and do change between two traces. I'll see what I can do for this test.

[2019-12-10 18:30] oruebel commented on #17
@lvsltz thanks for checking on this! At this point, I'm just trying to see what the potential impact of this would be. For this evaluation, what I would like to figure out is:
1. what is the impact on performance if we create larger time series
1. what is the impact on acquisition/generation of the files
1. what are the implications on the schema

From what it sounds like, the impact on the data g

[2019-12-11 11:29] oruebel commented on #17
I think for the test you could simply add custom columns to the IntracellularRecordings table for all parameters that vary between recordings. The parameters stored in, e.g., a PatchClampSeries may be wrong in this case (since they may not apply to the whole timeseries), but for this test that should be fine.

[2019-12-13 19:23] lvsltz commented on #17
I didn't manage to get this done.
Just to make sure when I'll resume, https://github.com/oruebel/ndx-icephys-meta/issues/25 does not interfere, right? Also, how do I slice a TimeSeries or PatchClampSeries? I've never used epochs before, if that's the answer.

[2019-12-13 19:29] oruebel commented on #17
@lvsltz thanks for keeping me posted. #25 should not interfere as all that would change is to allow TimeSeries more generally in the table. If anything, I think this might make creating the test-file for this issue simpler because we could just put the recording into a plain TimeSeries and put all other metadata into the IntracellularRecordings table.

[2020-01-03 02:41] rly opened #27 "Rename table types to end in Table"
@bendichter and I would prefer the convention of having subtypes of `DynamicTable` end in "Table", similar to how we name descendants of `TimeSeries` with "Series". See discussion here: https://github.com/NeurodataWithoutBorders/nwb-schema/pull/337#issuecomment-569361811

To conform with this convention, I suggest changing: `IntracellularRecordings`, `SweepSequences`, `Runs`, and `Conditions` to `

[2020-01-03 08:18] lvsltz commented on #17
I sent a link on slack with the very first attempt, where most metadata were lost, but now there are only 4-5 PatchClamSeries in the nwb file.

[2020-01-06 11:02] oruebel commented on #17
Looking at the profiling results again (and after doing some more tests), it seems that the majority of the time is spent in:

[code]

I.e., we spent most of the time on looking up the ``name`` of HDF5 objects. The ``name``  (i.e., path)  is used in HDMF as primary key to cache the builders in the HDF5IO backend. I did some simple tests and it looks like, looking up the ``id`` of HDF5 objects is m

[2020-01-06 23:04] oruebel commented on #17
With https://github.com/hdmf-dev/hdmf/pull/235 merged this gets us much closer to usable performance. I'm leaving this issue open, because: (1) I think there still some other performance issues that will hopefully get us closer to acceptable performance and (2) I still need to do the comparison with the restructured file to compare performance between the one-timeseries-per-recording vs. one-times

[2020-01-07 00:43] oruebel commented on #17
While https://github.com/hdmf-dev/hdmf/pull/238 is not directly related to this specific it helps make the file read for the BlueBrain test files quite a bit faster

[2020-01-20 16:53] lvsltz opened #28 "error when add_intracellular_recording called only with electrode and stimulus"
In section 3.1 in the [icephys tutorial](https://github.com/oruebel/ndx-icephys-meta/blob/master/src/pynwb/examples/icephys_meta_simple_example.ipynb) adding an intracellular recording with just a `stimulus` or a `response` doesn't seem to work as intended:

MWE:
[code]
error
[code]

[2020-01-21 08:21] #28 closed

[2020-01-21 08:23] oruebel commented on #18
Closing in favor of #25 which should also cover this issue

[2020-01-21 08:39] #25 closed

[2020-02-04 05:56] bendichter commented on #17
@oruebel are these references resolving?

[code]
[code]

![image](https://user-images.githubusercontent.com/844306/73717899-e60ce200-46cf-11ea-88a4-ae0bab77edd4.png)

[2020-02-05 19:19] oruebel opened #31 "Add Stimulus and Reponse tables"
As part of the hackathon it was identified that we should add tables for ``intracellular_stimulus`` and ``intracellular_response``, which in turn are referenced from the ``intracellular_recordings`` table. This is to avoid mixing metadata specific to stimulus and response in the same table.

[2020-02-05 20:04] oruebel opened #32 "Define more descriptive names for the tables"
We should use descriptive names for the tables that: 1) better communicate the intended use of the tables and 2) avoid overlap with terms used in the community that are ambiguous. Suggested names are:

1) ``intracellular_stimuli``  (new, see #31)
1) ``intracellular_responses`` (new, see #31)
1) ``intracellular_recordings`` (remain as is)
1) ``sweeps`` ---rename to---> `` simultaneous_recordings``

[2020-02-05 21:01] lvsltz commented on #32
Also consider
6. `runs` ---rename to ---> `repetitions`

[2020-02-05 23:02] oruebel opened #33 "Add stimulus_type column to sweep_sequence table"
As part of the hackathon this was identified as a required column for the sweep_sequences

[2020-02-06 22:55] oruebel commented on #32
@lvsltz thanks for the suggestion. I agree, that  term sounds much better. I'll update accordingly as I implement this issue.

[2020-02-07 13:02] t-b opened #34 "API: add_intracellular_recording"
[code]

- All arguments should be optional, of course skipping all does not make sense.

- If both stimulus and response are PatchClampSeries they should also both
reference the same electrode and sweep (if not raise an exception).

- It should also raise an error if you mix stimulus and response in a intracellular recording in an erroneous way.

The valid combinations are:

[code]

[2020-02-07 13:02] t-b opened #35 "Add documentation for how to enter time slices using the add_intracellular_recording interface"

[2020-02-07 13:03] t-b opened #36 "Avoid using `ic` as abbreviation for icephys"
Please don't use the `ic` abbreviation for icephys as in icephys `ic` means CurrentClamp. I think `icephys` is better.

@timjarsky

[2020-02-07 15:31] bendichter commented on #34
I like these checks, though this would create errors on read for pynwb files that are technically to spec but have one of these mistakes. If a file is written in MatNWB where these checks don't exist, then it may not be able to be read in pynwb. So maybe it's better if we throw warnings instead?

[2020-02-07 17:37] oruebel commented on #36
We should also have add_icephys_electrode and show a warning for add_ic_electrode in pynwb. In addition the tutorials should use the the function call.

See https://github.com/NeurodataWithoutBorders/pynwb/issues/1181

[2020-02-07 19:19] oruebel opened #37 "Add stimulus_type metadata table"
The metadata structure for describing stimulus types should be further refined. One proposal for this has been to add a separate``stimulus_types`` stable which in turn should be referenced from the the ``sweep_sequences`` (aka, ``sequential_recording``) table. Having the ``stimulus_types`` as a separate table would have the added advantage that the table can be reused across experiments.

[2020-02-07 20:03] rly opened #38 "Example notebooks should use either current clamp or voltage clamp"
The example notebooks add a `CurrentClampStimulusSeries` and a `VoltageClampSeries` as stimulus and response to the `NWBFile`. These types are semantically incompatible. The `CurrentClampStimulusSeries` should be paired with a `CurrentClampSeries` and a `VoltageClampStimulusSeries` should be paired with a `VoltageClampSeries`.

I don't know if there are any exceptions to this rule (besides when a

[2020-02-07 20:25] rly opened #39 "Suggestion: Add super simple example to README"
The notebooks are great and well documented; however, I have found it useful to have a barebones almost minimum working demonstration of the new data types. I suggest such an example is added to the bottom of the README. Something like the following:

[code]

I think the above *should* run. The downside of including code in the README is that it is not testable and it is quite long, but I think it

[2020-02-07 20:36] oruebel commented on #22
See also https://github.com/oruebel/ndx-icephys-meta/issues/38 for additional comments.

[2020-02-07 20:36] oruebel commented on #38
Closing in favor of #22

[2020-02-07 20:36] #38 closed

[2020-02-07 20:53] oruebel commented on #39
Sounds good. I updated your example slightly, i.e., the import for ``VoltageClampStimulusSeries`` was missing and no sweep was added.  I'll add the example once I have it working with the latest HDMF.

[2020-02-08 02:15] #39 closed

[2020-02-08 03:29] lvsltz commented on #39
Good idea!
Two suggestions:
1. remove the `sweep_number`, as this extension is basically replacing the `sweeps` table
2. it is not clear where those zeros (in `add_ic_sweep`, `add_ic_sweep_sequence` etc) are coming from: they are the outputs of the previous `nwbfile.add_*` calls and this is not apparent.
I'd do something like this:
[code]

[2020-02-08 19:03] t-b commented on #34
These checks are applied during write in pynwb only. So this should not be a problem for existing buggy data.

[2020-02-10 17:31] oruebel commented on #39
@lvsltz thanks for the suggestion. I've updated the example accordingly.

[2020-02-16 05:16] bendichter opened #41 "adding response with no corresponding stimulus"
If there is a response, but no stimulus, like in the case of `IZeroClamp`, how are you supposed to add an entry to the intracellular recordings table? Are rows allows to be added that are missing a stimulus? I tried this and was not able to get it to work. All of the tests that add rows to that table provide both stimulus and response. If this is an intended use-case it should be tested.

[2020-02-17 21:25] oruebel commented on #41
Yes, that is allowed. You should be able to simply omit the stimulus (or response) argument (or explicitly set it to None. Internally, what is happening is that the if you only provide a response (but no stimulus) then the stimulus is set to the same as the response with -1 as start/count index. The code that deals with this is:

https://github.com/oruebel/ndx-icephys-meta/blob/9522a1013541c61c020

[2020-02-21 14:21] lvsltz commented on #18
Not sure if this is actually working. If I simply add the `stimulus_template` just before `add_intracellular_recording`:
[code]
I get a `KeyError` when I write.

I wonder if [this line](https://github.com/oruebel/ndx-icephys-meta/blob/923b0891f5a8198a024b419a01a6739b7310a031/src/pynwb/ndx_icephys_meta/icephys.py#L682 ) is complete without stimulus_template. Please let me know if I misunderstood ho

[2020-02-21 18:16] oruebel commented on #18
Thanks, I'll work on this early next week. Not sure yet why this would be broken. Since it happens on write, maybe somehow the object gets assigned a bad parent or something in my code (or it's a but outside of the extension). I'll check.

[2020-02-28 22:40] #18 closed

[2020-02-28 22:41] oruebel commented on #18
@lvsltz #43 should fix this.

[2020-02-29 01:16] #19 closed

[2020-02-29 01:16] oruebel commented on #19
@lvsltz I just added the function ``get_ic_meta_parent_table`` in #44 that should address this issue.

[2020-02-29 01:19] oruebel commented on #22
In the unit tests this got fixed in #42. Still need to fix this in the examples.

[2020-02-29 01:50] #22 closed

[2020-02-29 01:56] #41 closed

[2020-02-29 01:59] oruebel commented on #41
The following unit tests are testing this behavior, i.e., 1) add response without a stimulus and 2) add a stimulus without a response. Both tests are passing.

https://github.com/oruebel/ndx-icephys-meta/blob/57f53bd0c55031cf5e53f0eb0160604689db2bb2/src/pynwb/ndx_icephys_meta/test/test_icephys.py#L335-L381

[2020-02-29 08:55] #36 closed

[2020-02-29 09:28] #33 closed

[2020-02-29 10:02] #35 closed

[2020-02-29 10:19] oruebel commented on #32
See also #27 which should be handled at the same time as this issue

[2020-02-29 12:37] #27 closed

[2020-02-29 12:37] #32 closed

[2020-02-29 13:21] #34 closed

[2020-02-29 20:09] oruebel commented on #21
Running the validator as part of the simple example notebook https://github.com/oruebel/ndx-icephys-meta/blob/master/src/pynwb/examples/icephys_meta_simple_example.ipynb yields the following error. The validator seems to complain about "'Device' - cannot overwrite existing specification" but the extension does not actually extend Device. I'm not sure right now why this is failing, but I figures ha

[2020-02-29 20:10] oruebel commented on #21
@t-b you have been working on the validator more than I have. Do you have any idea what the problem may be? CC @rly  ideas?

[2020-03-01 02:02] oruebel opened #51 "HierarchicalDynamicTableMixin.to_hierarchical_dataframe fails on empty hcol target table"

[2020-03-02 02:23] #16 closed

[2020-03-02 17:35] oruebel commented on #31
Since the different tables (stimuluys, response, recording) would need to align (i.e., have the same number of rows), rather than referencing it seems like it would be simpler to implement this as a collection of tables. This would in effect be a categorical table, i.e., we would have a ``Group`` (call ``intracellular_recordings``) that would contain a set of ``DynamicTable``, one for each categor

[2020-03-02 19:09] oruebel commented on #31
After talking with @ajtritt, rather than doing a collection of ``DynamicTables`` we think that it will be better to extend ``DynamicTable`` itself and add support for grouping of columns by "category", i.e., in addition to name, each column would also be assigned a category label. In this case we would have three categories, ``electrode``, ``stimulus`` and ``response``. All data would in this way

[2020-03-06 06:55] oruebel commented on #23
A simple workaround would be to set the maximum width for columns in the pandas display, e.g.,:
[code]

This allows you to control the column width in the rendering. However, it would still be nice to have nicer text representations for the ``stimulus`` and ``response`` columns.

[2020-03-06 10:40] lvsltz commented on #23
Yes, this can work too. What I was thinking of is more to decorate python's `display()` or hdmf's `Container` when a denormalized_dataframe is shown, like below:

[code]
![image](https://user-images.githubusercontent.com/6717189/76076367-0534b300-5f9f-11ea-9ee5-b56459590dbc.png)

But this issue is really not very important, you can even close it :)

[2020-03-06 10:50] lvsltz commented on #31
I think it's a very good idea.

[2020-03-12 15:26] lvsltz opened #53 "to_hierarchical_dataframe() fails on tables that contain indexed columns"
Tested on https://github.com/oruebel/ndx-icephys-meta/commit/279bb2e894bc9b10ca9dcb1e6f84a67fc5d6b591

MWE:
[code]
because of
[code]

[2020-03-12 15:52] oruebel commented on #53
Can you test on this branch:

https://github.com/oruebel/ndx-icephys-meta/pull/52

I have not merged that one yet, because I need to add more tests.

[2020-03-12 16:04] lvsltz commented on #53
I had checked your changes in the other branch and didn't seem to overlap.

Anyway, I checked, the error is still there:
https://www.dropbox.com/s/dz0kbpitzq06xqp/test_icephys_file.h5?dl=0

[2020-03-12 16:17] oruebel commented on #53
Thanks for the script. I was able to reproduce the error. I'll take a look.

[2020-03-12 17:25] #53 closed

[2020-03-12 17:37] oruebel commented on #53
@lvsltz this should be fixed now both on the master branch and #52 . I'm planning to merge #52 some time next week, but it would be great if you could start to test with #52.

[2020-03-12 18:07] lvsltz commented on #53
Will do.
Thanks for fixing it so quickly.

[2020-03-13 12:30] lvsltz opened #55 "to_denormalized_dataframe() creates weird MultiIndex column ('i', 'd')"
Tested on  branch add/spec_resp_elec_tables: https://github.com/oruebel/ndx-icephys-meta/commit/607e1ae41cd91f5a9021eb09fa54c256801e17f6

Unexpected column i,d appears as a column of the DataFrame generated with `to_denormalized_dataframe()`

![image](https://user-images.githubusercontent.com/6717189/76620249-0cbf0380-652d-11ea-8d64-0cdf21ba827d.png)

**How to reproduce:** run the [example code](h

[2020-03-13 15:59] oruebel commented on #55
@lvsltz thanks for the report. Yes, I noticed that too. I think the problem is that ``AlignedDynamicTable`` does not set the lable for the index column when it converts to a DataFrame. This bug is one of the reasons I had not merged the branch yet https://github.com/oruebel/ndx-icephys-meta/blob/607e1ae41cd91f5a9021eb09fa54c256801e17f6/src/pynwb/ndx_icephys_meta/icephys.py#L20
I'll work on this an

[2020-03-18 17:01] oruebel commented on #21
Closed in favor of https://github.com/hdmf-dev/hdmf/issues/316 which should fix this issue.

[2020-03-18 17:01] #21 closed

[2020-03-18 17:40] oruebel commented on #21
See also https://github.com/NeurodataWithoutBorders/nwb-schema/pull/421

[2020-03-18 20:51] oruebel commented on #55
This should be fixed now on https://github.com/oruebel/ndx-icephys-meta/pull/52

[2020-03-18 22:55] oruebel opened #56 "Profile read/write performance of the extension"
``ICEphysFileTests.test_add_icephys_meta_full_roundtrip`` has code to add profiling for writing and reading a file that can be enabled by removing the corresponding line comments. The read performance seems reasonable, but it appears that for write HDMF currently may do a large number of recursions, that slow down performance. It would be good investigate why this occurs. It is unclear whether thi

[2020-03-19 12:42] #31 closed

[2020-03-19 12:42] #51 closed

[2020-03-19 12:42] #55 closed

[2020-03-19 20:09] rly opened #57 "Validation error in example file"
After resolving the validation error in https://github.com/oruebel/ndx-icephys-meta/issues/21 , another validation error appears: the 'colnames' attribute of `/general/intracellular_ephys/intracellular_recordings/` is empty which raises an `IndexError`.

I raised this issue in https://github.com/hdmf-dev/hdmf/issues/317

[2020-03-19 21:07] oruebel commented on #57
Does this mean we currently do not allow DynamicTables with just the ``id`` column but no data?

[2020-03-19 22:33] rly commented on #57
Correct.

[code]
results in the error `IndexError: index 0 is out of bounds for axis 0 with size 0`

[2020-03-19 22:34] rly commented on #57
Also note that if no row is added, the table is not even written to disk.

[2020-03-20 05:28] oruebel commented on #57
although that seems to be just an issue with the ``get_type`` function in the validator, i.e., the  issue is with the ``validate(io)`` call; the ``io.read()`` seems to work fine. The fix for that error should be.

[code]

[2020-03-25 22:07] rly opened #59 "Remove nested type definition specifications"
The type definition of `IntracellularRecordingsTable` includes the type definitions for `IntracellularElectrodesTable`, `IntracellularStimuliTable`, and `IntracellularResponsesTable`. I understand that these three types are meant to be used only within the `IntracellularRecordingsTable`, but these types can still technically be used elsewhere, and if these types are defined outside of `Intracellul

[2020-03-25 22:13] rly opened #60 "Extract complex VectorData to its own type: TimeSeriesRef"
The `IntracellularStimuliTable` and `IntracellularResponsesTable` types both have a dataset:
[code]

Aside from the name and docstring, this is the same as the definition for the `'timeseries'` column of the `TimeIntervals` table. Since this exact structure would now be used three times in the schema, I think this should be its own type named something like `TimeSeriesRef` or `TimeSeriesColumn` an

[2020-03-26 00:33] oruebel commented on #59
Thanks for the issue. I'll have a look. If I remember correctly this also requires me to write a custom object mapper because this changes the mapping behavior.

[2020-03-26 00:35] oruebel commented on #60
I agree that this will be useful to do. My main question is how we deal with this with regard to backward compatibility?

[2020-03-26 00:56] rly commented on #60
For the new tables, I don't see an issue with creating a new type. For the existing `TimeIntervals` table, we may have to wait until the next major version of the schema to update it to use the new type...

[2020-03-26 01:03] oruebel commented on #60
Sounds reasonable

[2020-03-27 18:50] lvsltz opened #61 "compression of new tables"
These tables can potentially be large and repetitive.
Will there be a way to apply [`H5DataIO`](https://hdmf.readthedocs.io/en/latest/hdmf.backends.hdf5.h5_utils.html#hdmf.backends.hdf5.h5_utils.H5DataIO) on them for compression?

Enrico reports some significant differences in size between a) a NWB file in which each `acquisition` and `stimulation` datasets have been wrapped for compression with `

[2020-04-01 16:45] lvsltz opened #63 "Prevent binding of stimuli, responses and electrodes metadata dictionaries to external variables"
If a dictionary is passed to one of the `stimulus_`, `response_`, `electrode_metadata` arguments, the dictionary is changed with some internal tuples after the call to `add_intracellular_recording`:

Example from **icephys_meta_simple_example.ipynb**:
[code]

The issue probably comes from [these lines](https://github.com/oruebel/ndx-icephys-meta/blob/master/src/pynwb/ndx_icephys_meta/icephys.py#L6

[2020-04-01 17:43] oruebel commented on #63
Thanks for the issue. You are correct, the issue is that in order to be able to use ``add_row`` function of the ``AlignedDynamicTable`` I need to compile all the data into a single dict so I'm adding the electrode, which is passed in as a separate arg, to the corresponding metadata dictionary:

https://github.com/oruebel/ndx-icephys-meta/blob/8735ec1ba3742de6caad6a6822b426c7983714dc/src/pynwb/ndx_

[2020-04-01 18:22] oruebel commented on #61
How big are the differences you are? As a baseline we should see what the overhead is when compressing every dataset in HDF5 vs zipping up the file. I would expect that there is some overhead since in HDF5 datasets are compressed independently vs. zipping up all data at once.

[2020-04-08 10:31] EnricoScanta commented on #61
compressing timeseries with :
    H5DataIO(data = data, compression = 'gzip', chunks = True)
compressed.nwb: 5.4 MB
versus:
uncompressed.nwb.gzip: 3 MB
(original uncompressed.nwb: 29 MB)

[2020-04-08 15:25] oruebel commented on #61
@EnricoScanta is this for a single TimeSeries and what is the shape and chunk-size of the data?

I think overall this difference in file size seems reasonable. Some probable  source for the difference are that:
1) HDF5 compresses the data in blocks, which allows for selective data read/write even if the data is compressed, whereas gzip compresses the data all-at-once,
2) when wrapping only TimeSer

[2020-04-09 18:24] lvsltz commented on #17
Benchmarking with some example files that also contain metadata columns:
- times refer to the time needed to load a denormalized dataframe `df = nwbfile.get_icephys_meta_parent_table().to_denormalized_dataframe()`;
- number of rows and columns to the shape of the output dataframe (i.e. number of `recordings` and total number of columns in all icephys tables).

Do you think we can optimize these?

[2020-04-09 21:19] oruebel commented on #17
@lvsltz thanks for the files and benchmarks.

I do believe that there is ample room for optimizing the performance of this. My guess is that the majority of time is spent on assembling the data and its probably a problem of both recursion and nested Python loops that lead to the poor performance. I would suggest the following approach:

1. As a baseline, I think we should start with looking at the

[2020-04-14 19:14] #63 closed

[2020-04-17 09:47] EnricoScanta commented on #61
The file contained many TmeSeries with different sizes.
Changing the aggression parameter didn't affect much.
It would be a major concert without any compression, but using H5DataIO is ok, and we agree that we prefer not to use gzip.
Therefore I think what you said here would be optimal:
"we could add an option to specify a default setting for compression on write to force compression of all datas

[2020-04-17 11:30] lvsltz opened #66 "Category tables require metadata even if stimulus/object is missing"
The stimuli table (`IntracellularStimuliTable`) (and co.) requires `stimulus_metadata` to be passed even if the `stimulus` argument itself is `None`.
I understand why this is happening, but it doesn't seem like an expected behavior.

Example from [README](https://github.com/oruebel/ndx-icephys-meta#example) identical until line (A):
[code]
Error:
[code]

[2020-04-17 11:34] lvsltz opened #67 "Partial data still added to intracellular_recordings if add_intracellular_recording fails"
Additional issue in #66 :

The second `add_intracellular_recording`, the one causing the issue, still manages to add an additional row (just with the electrode) in the table.
This is not very important (since it fails anyway :) but perhaps it shouldn't happen.

![image](https://user-images.githubusercontent.com/6717189/79564875-c4f14600-80af-11ea-8428-14daf3d7f8b4.png)

[2020-04-22 09:24] EnricoScanta commented on #37
Is this feature going to be implemented?
Cheers

[2020-04-22 14:36] oruebel commented on #37
This is not planned for the initial implementation since it will take some more time to determine and standardize the stimulus metadata. For now, I would suggest to use the ``sequential_recording`` table to store metadata about the stimulus.

[2020-06-12 18:00] oruebel opened #68 "Make all tables AlignedDynamicTables"
The Conditions, Repeat, SequentialRecording, SimultaneousRecording tables should also be AlignedDynamicTables to make it easier to extend them later on add metadata specific to sub-categories to the table.

[2020-06-12 20:49] rly opened #69 "Tests fail"
With the dev branch of PyNWB and HDMF, I get the following test errors:

[code]

There are several different errors:
`ValueError: Must supply 'columns' if specifying 'colnames'`
`AttributeError: 'Int64Index' object has no attribute 'data'`
`AttributeError: 'IntracellularRecordingsTable' object has no attribute 'electrodes'`

[2020-06-15 19:10] #59 closed

[2020-07-06 18:07] bendichter opened #72 "to_hierarchical_dataframe not working as intended"
In [here](https://github.com/catalystneuro/ndx-hierarchical-behavioral-data#usage), `syllable_start_time` is part of the syllable table, and should have the same level as `syllable_start_time`, but instead has the same level as the phonemes table. This is a general problem that occurs for the last column of the second-to-last columns in a table hierarchy.

![image (11)](https://user-images.githubu

[2020-07-06 18:09] bendichter opened #73 "to_denonormalized_table not working as intended"
Using the README [here](https://github.com/catalystneuro/ndx-hierarchical-behavioral-data#usage), using the latest dev branch. The column names in the last table are mangled:

![image (12)](https://user-images.githubusercontent.com/844306/86624947-3bf0f900-bf92-11ea-8303-d71e9efa51af.png)

[2020-08-04 20:37] oruebel commented on #61
With HDMF 2.0.1 this is now possible https://github.com/hdmf-dev/hdmf/releases

[2020-08-04 20:37] #61 closed

[2020-08-04 20:40] #67 closed

[2020-09-18 08:59] anilbey opened #74 "Feature request: a key to map the nwbfile_in.stimulus to intracellular_recordings[n]["stimuli"]"
Hi, thanks for the great work first of all!

I think it would be easier for the end users to have a key to map the `nwbfile_in.stimulus` to `intracellular_recordings[n]["stimuli"]` in the `intracellular_recordings[n]["stimuli"]` table.
A column with the name of the stimulus dataset in the intracellular_recordings table would be nice to have.

What do you think?

[2020-09-18 19:28] oruebel commented on #74
If I understand your suggestion correctly, what we have is a column with link a to the stimuli in ``nwbfile_in.stimulus``, and in addition you would like to have a column with just the name of the dataset, i.e., effectively:

```names = [ d.name for d in intracellular_recordings[n]["stimuli"]]```

From a schema perspective, we should not duplicate information in columns, to avoid issues where the

[2020-09-21 10:20] anilbey commented on #74
Actually just changing the id of this pandas series stored at `nwbfile_in.intracellular_recordings["stimuli"]["stimulus"]` from the integer index to the name of the dataset would be the best I think.

Right now `nwbfile_in.intracellular_recordings["stimuli"]["stimulus"]` looks like this
id
0      (0, 150, ccss__pulser__0001 pynwb.icephys.Curr...
1      (0, 150, ccss__pulser__0006 pynwb.icephys.Cur

[2020-09-21 16:51] oruebel commented on #74
Thanks for the suggestion. Sounds reasonable.

[2020-10-14 23:22] rly opened #75 "Storing data from multiple electrodes?"
@rightbower asks, can these new hierarchical tables be used to store data from multiple electrodes in the same experiment? If not, what is the recommended strategy for storing such data?

[2020-10-15 09:37] oruebel commented on #75
The short answer is yes. For the slightly longer answer let me break this into a few steps. First, lets ignore this extension for a second. The current NWB 2.x schema allows you to store icephys recordings from multiple electrodes, simply be creating separate InteracellularElectrode instances and corresponding PatchClampSeries recordings. What the extension adds is a way to describe the temporal,

[2020-10-15 09:37] #75 closed

[2020-10-21 14:42] luiztauffer opened #76 "AttributeError: type object 'HierarchicalDynamicTableMixin' has no attribute '_get_fields'"
Using the latest hdmf-dev, this package will run into this error:
[code]

It looks like ndx-icephys-meta is performing an invalid operation with `HierarchicalDynamicTableMixin`. The problem only happens with the latest changes in hdmf, I guess this _get_fields was substituted by get_fields_conf

[2020-10-21 14:43] bendichter commented on #76
@rly is this the result of your latest change?

[2020-10-21 17:17] rly commented on #76
This looks like a problem with the multiple inheritance in the extension, but we should catch this case in HDMF.

First, I think the new table classes should have the parent class order reversed, so that `DynamicTable` is the base class.

https://github.com/oruebel/ndx-icephys-meta/blob/f164073c597e716c443558d94b39f02c9e1cc055/src/pynwb/ndx_icephys_meta/icephys.py#L725

Same for:
https://github.co

[2020-10-22 21:18] rly opened #77 "Latest tests fail"
Using PyNWB 1.4.0 and HDMF 2.2.0, tests fail:

[code]

Looks related to conversion to Pandas data frames.

[2021-02-18 23:39] #76 closed

[2021-02-23 20:32] rly commented on #77
In the first failing test above:
`python -m unittest test_hierarchical_dynamic_table_mixin.TestHierarchicalDynamicTableMixin.test_to_denormalized_dataframe`
`TypeError: unhashable type: 'list'`

[code]

I see two issues:
1) the names of the columns is incorrect
2) rows 2 and 3 of `curr` have lists of lists in the last two columns

@oruebel Do you have any ideas as to the root cause?

[2021-03-05 16:40] anilbey opened #81 "error on the README script when used with h5py>=3.1.0"
It raises this error when used with `h5py` 3.1.0 or 3.2.0.
`TypeError: No conversion path for dtype: dtype('<U9')`

It may be due to the h5py 3.0.0 update.

[2021-03-05 20:47] oruebel commented on #81
Thanks for the heads up. We are still working on updating HDMF/PyNWB to support h5py >3.0. I'll have a look to see if this is an issue with the extension itself or HDMF, but I assume it is most likely the problem that updating HDMF to the latest h5py is still in the works. The corresponding issues and PR's on HDMF are

https://github.com/hdmf-dev/hdmf/issues/458
https://github.com/hdmf-dev/hdmf/pu

[2021-03-31 09:35] wvangeit commented on #81
hi @oruebel, is there any ETA on the h5py>3.0 support? We need this extension for some open source code, and it would be good if our users don't have problems installing this dependency. Thanks.

[2021-04-02 16:52] #60 closed

[2021-04-07 06:49] oruebel commented on #81
We are currently working on integrating the extension with NWB core. I would expect this will probably take another 2 weeks. h5py 3.x support is related to HDMF issue https://github.com/hdmf-dev/hdmf/issues/458 and the corresponding PR https://github.com/hdmf-dev/hdmf/pull/480. Can you please re-post your question there. CC @ajtritt

[2021-07-17 11:19] oruebel commented on #73
Fixed in https://github.com/NeurodataWithoutBorders/pynwb/pull/1383

[2021-07-17 11:19] #73 closed

[2021-07-17 11:20] oruebel commented on #72
Fixed in https://github.com/NeurodataWithoutBorders/pynwb/pull/1383

[2021-07-17 11:20] #72 closed

[2021-07-17 11:20] oruebel commented on #77
Fixed in merge of the extension with PyNWB and HDMF

[2021-07-17 11:20] #77 closed

[2021-07-17 11:21] oruebel commented on #69
Fixed in merge of the extension with NWB core (incl PyNWB and HDMF)

[2021-07-17 11:21] #69 closed

[2021-07-17 11:26] oruebel commented on #81
@wvangeit sorry of the delay on this issue.  h5py3 support has been in released in PyNWB and HDMF. Porting of the extension to NWB core is largely complete now. I anticipate that we will finish the release by the end of this month. The
relevant PRs on PyNWB are https://github.com/NeurodataWithoutBorders/pynwb/pull/1349 and the related PR https://github.com/NeurodataWithoutBorders/pynwb/pull/1383.

[2021-07-17 11:26] #81 closed

[2021-07-20 12:17] oruebel commented on #74
I added documentation for how to augment the DataFrames with information from the stimulus/response here https://github.com/NeurodataWithoutBorders/pynwb/blob/34bb0edd3a211dca92f3c12ce7fb63f8c7885a40/docs/gallery/domain/plot_icephys_pandas.py#L291-L307 Replacing the ``id`` directly is problematic as some users rely on the ids, but rather we need to add this information separately. For now I have a

[2021-07-20 12:17] #74 closed

[2021-07-21 03:02] oruebel commented on #66
Closing this in favor of https://github.com/NeurodataWithoutBorders/pynwb/issues/1384 We'll need to address this in PyNWB.

[2021-07-21 03:02] #66 closed